body{
    background-color: black;
    text-align: center;
}
div{
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}
.motivation-img{
    height: 200px;
    width: 350px;
    border: 5px solid white;
}

h2{
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;   
}